<div class="pairDataContainer">
  <div class="splitter">
    <div class="splitter-left">
      <div class="splitter-left_block-left">
        <div class="splitter-left_block-left_top">
          {{ match.home_team_name }}
        </div>
        <div class="splitter-left_block-right_bottom">
          {{ match.home_team_score != null ? match.home_team_score : "--" }}
        </div>
      </div>
      <div class="splitter-left_block-right">
        <img :src="match.home_team_logo" alt="" class="team-logo">
      </div>
    </div>
    <div class="splitter-center"> -- </div>
    <div class="splitter-right">
      <div class="splitter-right_block-left">
        <img :src="match.away_team_logo" alt="" class="team-logo">
      </div>
      <div class="splitter-right_block-right">
        <div class="splitter-right_block-right_top">
          {{ match.away_team_name }}
        </div>
        <div class="splitter-right_block-right_bottom">
          {{ match.away_team_score != null ? match.away_team_score : "--" }}
        </div>
      </div>
    </div>
  </div>
  <div class="date">
    <b>FECHA DEL PARTIDO:</b> {{ matchDate }}
  </div>
</div>